form {
    margin-top: 2em;
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.5);
}

.ui.header {
    color: white;
}

.ui .form .field > label {
    color: white;
}

@media (min-width: 768px) {

}

@media (min-width: 1200px) {
    form {
        margin: 2em auto 0 auto;
        width: 50%;
    }
}
